.field {
  border: var(--border-solid);
  border-radius: var(--border-radius);
  background-color: var(--black);
  color: var(--white);
  padding: 10px;
  /* font-size: large; */
  /* width: 100%; */
}

.field-wrap {
  display: flex;
  flex-direction: column;
}

.field-wrap label {
  /* font-size: large; */
  margin: 0.5rem 0 0.5rem 0;
}

.form {
  /* display: flex; */
  /* flex-direction: column;
  align-items: baseline; */
  /* justify-content: left; */
  /* background-color: var(--black); */
  color: var(--white);
  max-width: var(--reading-width);
  padding: 0 20px;
  margin: auto;
  /* padding: 10px; */
  /* width: 100%; */
}

/* .form-container { */
  /* display: flex;
  flex-direction: column; */
  
  /* max-width: var(--reading-width); */
  /* display: flex;
  flex-wrap: wrap; */
  /* justify-content: center; */
/* } */

textarea.field {
  resize: vertical;
}

.submit-btn {
  padding: 10px 15px;
  /* font-size: large; */
  background-color: var(--black);
  border: var(--border-solid);
  border-radius: var(--border-radius);
  color: var(--white);
  margin: 0.8rem 0 0.8rem 0;
  text-decoration: none;
  /* animation: shadow-pop-tr-out 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both; */
  transition: all 0.3s var(--ease);
}

.submit-btn:hover {
  /* animation: shadow-pop-tr 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both; */
  background-color: var(--red);
  cursor: pointer;
}

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@keyframes shadow-pop-tr {
  from {
    box-shadow: 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px var(--shadow), 2px -2px var(--shadow),
      3px -3px var(--shadow), 4px -4px var(--shadow), 5px -5px var(--shadow),
      6px -6px var(--shadow), 7px -7px var(--shadow), 8px -8px var(--shadow);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr-out {
  from {
    box-shadow: 1px -1px var(--shadow), 2px -2px var(--shadow),
      3px -3px var(--shadow), 4px -4px var(--shadow), 5px -5px var(--shadow),
      6px -6px var(--shadow), 7px -7px var(--shadow), 8px -8px var(--shadow);
    transform: translateX(-8px) translateY(8px);
  }
  to {
    box-shadow: 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow);
    transform: translateX(0) translateY(0);
  }
}
