@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gabarito&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --red: #af002d;
  /* --red: #731; */
  --orange: #ff7a18;
  --blue: #27b;
  --brown: #794a42;
  --teal: #319197;
  --dark-teal: #034448;
  --green: #264;
  --darker-grey: #222;
  --dark-grey: #333;
  --shadow: var(--white);
  --nav-lnk-margin-left: 20px;
  --main-padding: 20px 7vw;
  --nav-padding: 0 30px;
  --hf-margin: 20px;
  --border-width: 3px;
  --border-solid: var(--white) 3px solid;
  --border-dashed: var(--white) 3px dashed;
  --border-radius: 5px;
  /* --text-size:  */
  --gradient1: var(--orange);
  --gradient2: var(--teal);
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
  --reading-width: 40rem;
  --nav-logo-height: 30px;
  --load-percentage: 0%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'Lexend', sans-serif; */
  /* font-family: "Varela Round", sans-serif; */
  font-family: "Gabarito", Arial, Helvetica, sans-serif;
  font-size: medium;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: auto;
  /* background-color: #222428; */
  background: var(--black);
  color: var(--white);
}

main {
  padding: var(--main-padding);
  flex-grow: 1;
  margin-top: calc(54px + var(--border-width));
}

main.grid {
  display: grid;
  gap: 20px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(565px, 640px));
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.header-nav-wrapper {
  padding: var(--nav-padding);
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  width: 100%;
  flex: 1 0 67%;
  align-items: center;
  flex-grow: 0;
  /* background-color: var(--red); */
  background-color: var(--black);
  /* border-bottom: var(--border-solid); */
  margin-bottom: var(--hf-margin);
  overflow-x: clip;
  z-index: 100;
}

.header-nav-wrapper::before {
  content: "";
  /* background: linear-gradient(
    130deg,
    var(--orange),
    var(--red) 41.07%,
    var(--teal) 76.05%
  ); */
  background: linear-gradient(
    112.5deg,
    var(--blue) var(--load-percentage),
    var(--dark-grey) var(--load-percentage)
  );
  background-color: var(--blue);
  position: inherit;
  top: 54px;
  left: 0;
  width: 100%;
  height: var(--border-width);
  /* z-index: -1; */
  border-radius: 8px;
}

.header-nav-wrapper nav {
  text-align: right;
  margin-left: auto;
  padding-left: 2.5vw;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  backface-visibility: hidden;
}

.header-logo {
  background-image: url("../img/logo-long.svg");
  background-size: 190.08px var(--nav-logo-height);
  background-position: center center;
  background-repeat: no-repeat;
  transition: filter 300ms;
}

.header-logo img.logo-short {
  display: none;
}

.header-logo img {
  height: var(--nav-logo-height);
  margin: 10px 0;
  opacity: 0;
}

.header-logo:hover {
  filter: invert(1);
}

a.nav-link {
  text-decoration: none;
  margin-left: var(--nav-lnk-margin-left);
  padding: 10px 0;
  /* display: inline-block; */
  transition: transform 0.4s;
}

a.nav-link:link,
a.nav-link:visited {
  color: var(--white);
}

/* 
a.nav-link.nav-link-anim:hover {
  transform: translateY(-5px);
} */

a.nav-link:active {
  text-decoration: none;
}

/* add when clicking menu button 
a.nav-link {
  display: block;
  position: relative;
  padding: 0.2em 0;
} */

/* Slide in */
a.nav-link {
  overflow: hidden;
  position: relative;
}

a.nav-link::after {
  content: "";
  position: absolute;
  border-width: 0;
  border-radius: 1px;
  margin-top: 19px;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  /* background-color: var(--teal); */
  opacity: 0;
  transform: translate3d(0, 0, 0);
  /* transition: opacity 500ms, transform 300ms, background-color 300ms; */
  transition: opacity 300ms
      linear(
        0 0%,
        0 1.8%,
        0.01 3.6%,
        0.03 6.35%,
        0.07 9.1%,
        0.13 11.4%,
        0.19 13.4%,
        0.27 15%,
        0.34 16.1%,
        0.54 18.35%,
        0.66 20.6%,
        0.72 22.4%,
        0.77 24.6%,
        0.81 27.3%,
        0.85 30.4%,
        0.88 35.1%,
        0.92 40.6%,
        0.94 47.2%,
        0.96 55%,
        0.98 64%,
        0.99 74.4%,
        1 86.4%,
        1 100%
      ),
    transform 300ms, background-color 300ms;
}

a.nav-link.active:after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

a.nav-link-anim:hover::after,
a.nav-link-anim:focus::after {
  opacity: 1;
  background-color: var(--blue);
  transform: translate3d(-100%, 0, 0);
}

/* 
a.nav-link:after {
  background: var(--white);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.5s var(--ease);
} */

/* .header-nav-wrapper nav a.nav-btn { */
/* margin: 20px; */
/* transition-property: transform 0.4s; */
/* padding: 16px 26px; */
/* background: var(--white); */
/* border-radius: 8px; */
/* color: var(--black); */
/* } */

/* a.nav-btn:hover { */
/* transform: scale(1.1, 1.1); */
/* } */

a.nav-btn {
  border-radius: 4px;
  padding: 10px;
}

/* .contact { */
/* background-color: var(--dark-teal) !important; */
/* } */

.nav-menu-icon {
  height: auto;
  width: 25px;
  cursor: pointer;
  /* transform: translateY(11px); */
  padding: 2px;
  border-radius: 2px;
  display: none;
  border: transparent 5px solid;
  background-color: transparent;
  transition: all 300ms;
  filter: invert(1);
}

.nav-menu-icon:hover,
.menu-active {
  border: var(--border-solid);
  filter: invert(0);
  background-color: var(--teal);
}

.nav-link-container {
  transition: all 200ms ease-in;
}

.visible {
  right: 18px !important;
}

#portrait {
  width: 280px;
  border-radius: 5px;
  border-color: #000;
  border-width: 3px;
}

.card {
  animation: bg-pan-left 8s both;
  /* create a card with thick borders */
  /* background-color: var(--darker-grey); */
  /* background-image: linear-gradient(270deg, var(--orange), var(--blue)); */

  max-width: 500px;
  border: var(--border-solid);
  /* border-radius: 10px; */
  /* set the width and height of the card */
  /* width: 300px;
  height: 200px; */
  /* use flexbox to align the content */
  display: flex;
  align-items: center;
}

.card-text {
  /* set the font size and color of the text */
  font-size: 20px;
  /* color: white; */
  /* add some margin and padding */
  margin: 10px;
  padding: 10px;
}

.card-image {
  margin: 10px;
  padding: 10px;
}

footer {
  padding: 40px 30px 32px 30px;
  position: relative;
  background-color: var(--black);
  /* color: var(--white); */
  /* border-top: var(--border-solid); */
  margin-top: var(--hf-margin);
}

footer::before {
  content: "";
  /* background: linear-gradient(
    130deg,
    var(--orange),
    var(--red) 41.07%,
    var(--teal) 76.05%
  ); */
  background-color: var(--blue);
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: calc(100% + 5px);
  z-index: -1;
  border-radius: 8px;
}

footer img.logo-long {
  width: 3.6rem;
  /* margin: 0 2px; */
  filter: invert(1);
  position: relative;
  top: 2px;
}
.black-grey-gradient-stripe-bg {
  background: repeating-linear-gradient(
    -45deg,
    var(--dark-grey),
    var(--dark-grey) 1rem,
    var(--black) 9rem,
    var(--black) 3rem
  );
}

.blue-black-stripe-bg {
  background: linear-gradient(-247.5deg, var(--black) 55.9%, var(--blue) 50.5%);
}

.black-grey-stripe-bg {
  /* background: repeating-linear-gradient(
    -43deg,
    var(--dark-grey),
    var(--dark-grey) 15px,
    var(--black) 15px,
    var(--black) 30px
  ); */

  background: repeating-linear-gradient(
    -43deg,
    var(--dark-grey),
    var(--dark-grey) 1.5vw,
    var(--black) 1.5vw,
    var(--black) 3vw
  );
}

.black-red-stripe-bg {
  background: repeating-linear-gradient(
    -43deg,
    var(--red),
    var(--red) 1.5vw,
    var(--black) 1.5vw,
    var(--black) 3vw
  );
}

.skills {
  display: flow !important;
  font-size: 1.5rem;
  margin-top: 60px;
  background-color: var(--blue);
  color: var(--black);
  padding: 20px;
  /* border-radius: 5px 50px 50px 5px; */
  /* background: linear-gradient(45deg, var(--blue) 50%, var(--black) 50%); */
}

.welcome h1 {
  font-size: 3rem;
  margin: 12px 0 -15px 0;
}

.welcome p {
  font-size: 1.5rem;
}

.welcome a {
  padding: 4px 10px;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--blue);
  background: var(--black);
  border-radius: var(--border-radius);
  margin: 5px;
  /* position: relative; */
  transition: all 300ms ease-out;
  display: inline-block;
}

.welcome a:hover {
  /* left: 5px; */
  transform: translateX(10px);
  /* color: var(--red); */
  /* outline: var(--border-solid); */
  /* background-color: var(--black); */
  border: 0;
  border-radius: var(--border-radius);
  /* -webkit-text-stroke: 1px var(--darker-grey); */
  /* stroke: ; */
}

.black-bg {
  background-color: #191919;
}

.white-txt {
  color: var(--white) !important;
}

.red-bg {
  background-color: var(--red);
}

.blue-bg {
  background-color: var(--blue);
}

.gradient-bg {
  /* background: linear-gradient(
    130deg,
    var(--orange),
    var(--red) 41.07%,
    var(--teal) 76.05%
  ); */
  /* background: linear-gradient(
    130deg,
    var(--blue),
    var(--red) 185%
  ); */
  /* background-image: linear-gradient(270deg, var(--orange), var(--blue)); */
  background: transparent;
}

.mb-20 {
  margin-bottom: 20px;
}

.spotlight {
  display: flex;
  max-height: min-content;
  justify-content: space-between;
  border-radius: var(--border-radius);
  /* border: var(--border-solid); */
  /* margin-bottom: 20px; */
  animation: bg-pan-left 8s both;
}

.project {
  max-width: var(--reading-width);
  margin: 0 auto 20px auto;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact .spotlight {
  display: inline-flex !important;
}

.sl-link,
.sl-link:visited {
  /* margin: 0 20px; */
  text-decoration: none;
  color: var(--white);
}

.sl-anim:hover {
  animation: shadow-pop-tr 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.sl-anim {
  animation: shadow-pop-tr-out 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.flex-col {
  flex-flow: column;
}

.flex-col-rev {
  flex-flow: column-reverse;
}

.circle {
  /* position: relative; */
  /* top: 12vh; */
  /* left: -10vw; */
  margin: -8vw 0 2rem 2vw;
  /* background: var(--white); */
  /* background: linear-gradient(130deg, var(--white), var(--dark-grey) 41.07%, var(--darker-grey) 76.05%); */
  /* background: linear-gradient(
    130deg,
    var(--orange),
    var(--red) 41.07%,
    var(--teal) 76.05%
  ); */
  background-color: var(--darker-grey);
  /* z-index: -1; */
  border-radius: 50%;
  /* border-radius: var(--border-radius); */
  /* box-shadow:
    -20px -25px 80px var(--red),        
    20px 20px 80px var(--teal); */
  /* max-height: 250px; */
  height: 25vh;
  /* width: 20vh; */
  width: 25vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.kristan-cartoon {
  /* max-width: 200px;
  max-height: 200px; */
  height: 20vh;
  margin: 0.5vw;
  filter: drop-shadow(3px 2px 2px rgb(0 0 0 / 0.4));
}

.sl-kristan {
  height: 20vw;
  margin: 2vw;
}

.info-container {
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  /* font-size: large; */
}

.spotlight-info-container {
  padding: 0 20px;
  border-radius: var(--border-radius);
  /* padding: 0 21vw; */
  display: flex;
  /* display: grid; */
  align-items: center;
  justify-content: center;
}

.spotlight-img-container {
  /* max-height: 35vh; */
  /* border-left: var(--border-solid); */
  /* border-radius: var(--border-radius); */
  background-position: center center;
  background-repeat: no-repeat;
}

.project .spotlight-img-container {
  background-size: 100%;
  margin: 3px 5px;
  border-radius: var(--border-radius);
}

img.sl-clipped {
  height: 100%;
  width: 100%;
  opacity: 0;
  overflow: hidden;
}

.project img.sl-clipped {
  height: 15vw;
  width: 15vw;
  min-width: 256px;
  min-height: 256px;
  /* max-height: 512px;
  max-width: 512px; */
  max-height: 256px;
  max-width: 256px;
  opacity: 0;
  overflow: hidden;
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.profile-pic-bg {
  /* background: linear-gradient(
    130deg,
    var(--orange),
    var(--red) 41.07%,
    var(--teal) 76.05%
  ); */
  background: linear-gradient(221deg, var(--blue) 50%, var(--black) 50%);
  border-radius: var(--border-radius);
  margin: auto;
}

.profile-pic-bg,
.profile-pic-container {
  width: 22.5vw;
  height: 30vw;
  max-width: 329px;
  max-height: 438px;
}

.profile-pic-container {
  /* border: var(--border-solid); */
  /* opacity: .9; */
  /* filter: sepia(0.2); */
  border-radius: var(--border-radius);
  background: url("../img/DSC_0487_pp-2-bright__B_W___Large_-removebg-preview.png");
  background-size: 100%;
  /* background: linear-gradient(130deg, var(--orange), var(--red) 41.07%, var(--teal) 76.05%); */
  /* margin: 0 auto 20px auto; */
}

.profile-pic {
  height: 100%;
  /* border-left: var(--border-solid); */
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  background: url("../img/DSC_0487_pp-2-bright__B_W___Large_-removebg-preview.png");
  background-size: 100%;
  background-position-y: 10%;
  /* border-radius: 50%; */
}

.table {
  display: flex;
  max-height: min-content;
  justify-content: center;
  border: var(--border-solid);
  border-radius: var(--border-radius);
  /* border: var(--border-solid); */
  /* margin-bottom: 20px; */
}

table {
  border-collapse: collapse;
}

th,
td {
  /* padding: 10px; */
  /* border: var(--border-solid); */
}

.default-width {
  max-width: var(--reading-width);
}

.main-container {
  max-width: var(--reading-width);
  margin: auto;
}

.intro {
  margin: 14vw auto;
  max-width: 520px;
  padding: 0 20px;
  color: var(--black);
}

.intro div:only-child {
  background: var(--blue);
  border-radius: 100px 100px 100px 5px;
  padding: 20px 20px 0 20px;
}

.intro h1 {
  font-weight: 600;
  line-height: 1.06;
  font-size: clamp(2rem, 1.509vw + 1.642rem, 3rem);
  margin: 0;
}

.intro p {
  opacity: 0.74;
  margin-top: 1rem;
  margin-bottom: 2.7rem;
  line-height: 1.2;
  font-weight: 500;
  font-size: clamp(1.125rem, 0.377vw + 1.035rem, 1.375rem);
}

.call-to-action {
  padding: 10px 15px;
  /* font-size: large; */
  background-color: var(--black);
  border: var(--border-solid);
  border-radius: var(--border-radius);
  color: var(--white);
  /* margin: 0.8rem 0 0.8rem 0; */
  text-decoration: none;
  /* animation: shadow-pop-tr-out 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both; */
  transition: all 300ms var(--ease);
}

.call-to-action:hover {
  background-color: var(--white);
  color: var(--black);
  /* animation: shadow-pop-tr 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both; */
}

#spotlight-quote {
  quotes: none;
  font-family: "Archivo Black", sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-size: 9.5vw;
  color: var(--blue);
  margin: 2vw 1vw;
  /* color: var(--white); */
  /* -webkit-text-stroke: 5px var(--white); */
}

#spotlight-quote p {
  /* display: flex; */
  margin: 0
}

.spotlight dl {
  font-family: "Archivo Black", sans-serif;
  color: var(--black);
  /* font-size: 9.5vw; */
}

.spotlight dt {
  font-size: large;
}

.spotlight dd {
  font-size: medium;
}
/* 
section.essay {
  font-size: medium;
} */

td {
  padding: 10px;
}

td:nth-child(2) {
  word-break: break-all;
}

a {
  color: var(--blue);
}

/*
+-------------------------------+
| Media queries                 |
+-------------------------------+
*/
@media only screen and (max-width: 1336px) {
  main.grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .profile-pic-container,
  .profile-pic-bg {
    width: 30vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 550px) {
  .header-logo {
    background-image: url("../img/logo-short.svg");
    background-size: 71.83px var(--nav-logo-height);
    background-position: center center;
    background-repeat: no-repeat;
    transition: filter 300ms;
  }

  /* Short logo appears, Long disappears */
  .header-logo img.logo-short {
    display: initial;
    opacity: 0;
  }

  .header-logo img.logo-long {
    display: none;
  }

  /* ================================== */
}
/* 
@media only screen and (max-width: 850px) {
  .spotlight dt {
    font-size: large;
  }

  .spotlight dd {
    font-size: medium;
  }
} */

@media only screen and (max-width: 605px) {
  /* Links disappear, menu icon appears */
  .nav-link-container {
    /* display: none; */
    position: relative;
    right: -130px;
    display: grid !important;
    justify-items: end;
    position: absolute;
    color: var(--black);
    border: 5px solid var(--blue);
    border-radius: 5px;
    padding: 5px 10px;
    z-index: 1;
    top: 44px;
    /* right: 30px; */
    background-color: var(--black);
  }

  .nav-menu-icon {
    display: initial;
  }

  #menu_checkbox + label {
    display: block !important;
  }
  /* ================================== */

  .header-logo {
    background-image: url("../img/logo-long.svg");
    background-size: 190.08px var(--nav-logo-height);
    background-position: center center;
    background-repeat: no-repeat;
    transition: filter 300ms;
  }

  /* Short logo disappears, Long appears */
  .header-logo img.logo-short {
    display: none;
  }

  .header-logo img.logo-long {
    display: initial;
    opacity: 0;
  }
  /* ================================== */
}

@media only screen and (max-width: 600px) {
  .spotlight {
    flex-direction: column;
    /* background-image: linear-gradient(180deg, var(--orange), var(--blue)); */
  }

  main.grid {
    justify-items: stretch;
  }

  .project .spotlight-img-container {
    margin: 5px 5px;
  }
  /* 
  #spotlight-quote {
    -webkit-text-stroke: clamp(0.15rem, 0.19rem, 0.4vw) var(--blue);
  } */

  .blue-black-stripe-bg {
    background: linear-gradient(180deg, var(--black) 52.9%, var(--blue) 50.5%);
  }

  .spotlight-img-container {
    max-height: 45vw;
    /* border-left: unset; */
    /* border-bottom: var(--border-solid); */
  }

  .profile-pic-container,
  .profile-pic-bg {
    width: 45vw;
    height: 60vw;
  }

  .code-overlay code {
    font-size: 36vw !important;
    width: unset !important;
  }

  #spotlight-quote {
    font-size: 15.5vw;
  }

  /* .black-grey-gradient-stripe-bg {
    background: linear-gradient(180deg, var(--blue) 50%, var(--black) 50%);
  } */
}

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@keyframes shadow-pop-tr {
  from {
    box-shadow: 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px var(--shadow), 2px -2px var(--shadow),
      3px -3px var(--shadow), 4px -4px var(--shadow), 5px -5px var(--shadow),
      6px -6px var(--shadow), 7px -7px var(--shadow), 8px -8px var(--shadow);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr-out {
  from {
    box-shadow: 1px -1px var(--shadow), 2px -2px var(--shadow),
      3px -3px var(--shadow), 4px -4px var(--shadow), 5px -5px var(--shadow),
      6px -6px var(--shadow), 7px -7px var(--shadow), 8px -8px var(--shadow);
    transform: translateX(-8px) translateY(8px);
  }
  to {
    box-shadow: 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow);
    transform: translateX(0) translateY(0);
  }
}

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */

.more-projects-anim {
  animation: 60s linear 0s infinite alternate both running bg-pan-left;
  background-size: 600% 100%;
  grid-column: 1 / -1;
  width: -webkit-fill-available;
  text-align: center;
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Quote */

blockquote.theysaidso_quote span.quote a,
blockquote.theysaidso_quote cite.author a {
  font-size: 1.2rem !important;
}

.quote_container::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  border-radius: var(--border-radius);
  margin: 0 auto 36px auto;
  background: var(--white);
}

cite.author {
  color: #aaacae;
  /* font-family: "iawriter-mono", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Gabarito", cursive;
}

.quote_text {
  color: #e4e5e6;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Gabarito", cursive;
}

.quote_container {
  margin: 0 auto;
  /* margin-top: 50px; */
  /* border: var(--border-solid); */
  padding: 50px 50px 30px 50px;
}

.quote_container blockquote.theysaidso_quote * {
  box-sizing: border-box;
}

.quote_container blockquote.theysaidso_quote span.quote:before {
  content: "\201C";
  /* color: #81bedb; */
  color: #ccd6de;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.theysaidso-container {
  display: flex;
}

/* .quote_container:hover { */
/* animation: shadow-pop-tr 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both; */
/* } */

/* .quote_container { */
/* animation: shadow-pop-tr-out 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both; */
/* } */

.code-overlay code {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* font-size: 20vw; */
  /* width: 46vw; */
  /* width: 35vw; */
  font-size: 20vw;
  margin: 2vw 0;
  /* color: var(--black); */
  color: var(--black);
  /* -webkit-text-stroke: var(--white); */
  text-align: center;
  /* width: 100%; */
  /* height: 100vh; */
  height: 100%;
  display: block;
}

@media only screen and (max-width: 335px) {
  .header-logo {
    background-image: url("../img/logo-short.svg");
    background-size: 71.83px var(--nav-logo-height);
    background-position: center center;
    background-repeat: no-repeat;
    transition: filter 300ms;
  }
  /* Short logo appears, Long disappears */
  .header-logo img.logo-short {
    display: initial;
    opacity: 0;
  }

  .header-logo img.logo-long {
    display: none;
  }
}

/* borders disappear */
@media only screen and (max-width: 550px) {
  main {
    padding: unset;
  }

  main.padded {
    padding: var(--main-padding);
  }

  .spotlight,
  .quote_container {
    border-left: none;
    border-right: none;
    border-radius: unset;
    /* animation: none; */
  }

  .sl-anim {
    animation: none;
  }

  .sl-anim:hover {
    animation: none;
  }
}

p.css-typing {
  border-right: .15rem solid var(--blue);
  /* opacity: 0; */
  /* font-family: "Courier";
  font-size: 14px; */
  white-space: nowrap;
  overflow: hidden;
}

p.css-typing {
  /* width: 7.3em; */
  /* -webkit-animation: type 2s steps(40, end), blink .75s step-end infinite alternate;
  animation: type 2s steps(40, end), blink .75s step-end infinite alternate; */
  animation: blink .75s step-end infinite alternate;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15rem solid var(--blue);
  }
  100% {
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}