@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gabarito&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap");

:root {
  --white: #fff;
  --black: #111;
  --red1: #de594c;
  --red2: #ff7157;
  --blue: #007acc;
  --brown: #794a42;
  --teal: #7ba7aa;
  --dark-teal: #034448;
  --darker-grey: #222;
  --dark-grey: #333;
  --shadow: var(--white);
  --nav-lnk-margin-left: 20px;
  --main-padding: 20px 30px;
  --nav-padding: 0 30px;
  --hf-margin: 20px;
  --border-solid: var(--white) 5px solid;
  --border-dashed: var(--white) 5px dashed;
  --gradient1: var(--blue);
  --gradient2: var(--red2);
  --ease: cubic-bezier(0.19, 1, 0.22, 1);
}

body {
  margin: 0;
  /* font-family: 'Lexend', sans-serif; */
  /* font-family: "Varela Round", sans-serif; */
  font-family: "Gabarito", cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: auto;
  /* background-color: #222428; */
  background: var(--black);
  color: var(--white);
}

main {
  padding: var(--main-padding);
  flex-grow: 1;
}

.header-nav-wrapper {
  padding: var(--nav-padding);
  display: flex;
  flex-wrap: nowrap;
  flex: 1 0 67%;
  align-items: center;
  flex-grow: 0;
  /* background-color: var(--red1); */
  border-bottom: var(--border-solid);
  /* margin-bottom: var(--hf-margin); */
}

.header-nav-wrapper nav {
  text-align: right;
  margin-left: auto;
  padding-left: 2.5vw;
  font-size: larger;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  backface-visibility: hidden;
}

.header-logo {
  background-image: url("../img/logo-long.png");
  background-size: 190.08px 50px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: filter 300ms;
}

.header-logo img.logo-short {
  display: none;
}

.header-logo img {
  height: 50px;
  margin: 10px 0;
  opacity: 0;
}

.header-logo:hover {
  filter: invert(1);
}

a.nav-link {
  text-decoration: none;
  margin-left: var(--nav-lnk-margin-left);
  padding: 10px 0;
  display: inline-block;
  transition: transform 0.4s;
}

a.nav-link:link,
a.nav-link:visited {
  color: var(--white);
}

/* 
a.nav-link.nav-link-anim:hover {
  transform: translateY(-5px);
} */

a.nav-link:active {
  text-decoration: none;
}

/* add when clicking menu button 
a.nav-link {
  display: block;
  position: relative;
  padding: 0.2em 0;
} */

/* Slide in */
a.nav-link {
  overflow: hidden;
}

a.nav-link::after {
  content: "";
  position: absolute;
  margin-top: 25px;
  width: 27px;
  height: 4px;
  background-color: var(--red1);
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms, transform 300ms;
}

a.nav-link.active:after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

a.nav-link-anim:hover::after,
a.nav-link-anim:focus::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

/* 
a.nav-link:after {
  background: var(--white);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.5s var(--ease);
} */

/* .header-nav-wrapper nav a.nav-btn { */
/* margin: 20px; */
/* transition-property: transform 0.4s; */
/* padding: 16px 26px; */
/* background: var(--white); */
/* border-radius: 8px; */
/* color: var(--black); */
/* } */

/* a.nav-btn:hover { */
/* transform: scale(1.1, 1.1); */
/* } */

a.nav-btn {
  border-radius: 4px;
  padding: 10px;
}

/* .contact { */
  /* background-color: var(--dark-teal) !important; */
/* } */

.nav-menu-icon {
  height: auto;
  width: 25px;
  cursor: pointer;
  /* transform: translateY(11px); */
  border: var(--border-solid);
  padding: 2px;
  border-radius: 2px;
  display: none;
  background-color: var(--white);
}

.nav-menu-vert {
  display: grid !important;
  position: absolute;
  color: var(--black);
  border: var(--border-solid);
  padding: 5px 10px;
  z-index: 1;
  right: 30px;
  background-color: var(--black);
}

#portrait {
  width: 280px;
  border-radius: 5px;
  border-color: #000;
  border-width: 3px;
}

.card {
  animation: bg-pan-left 8s both;
  /* create a card with thick borders */
  /* background-color: var(--darker-grey); */
  /* background-image: linear-gradient(270deg, var(--red2), var(--blue)); */

  max-width: 500px;
  border: var(--border-solid);
  /* border-radius: 10px; */
  /* set the width and height of the card */
  /* width: 300px;
  height: 200px; */
  /* use flexbox to align the content */
  display: flex;
  align-items: center;
}

.card-text {
  /* set the font size and color of the text */
  font-size: 20px;
  /* color: white; */
  /* add some margin and padding */
  margin: 10px;
  padding: 10px;
}

.card-image {
  margin: 10px;
  padding: 10px;
}

footer {
  padding: 40px 30px 32px 30px;
  /* background-color: var(--black); */
  /* color: var(--white); */
  border-top: var(--border-solid);
  /* margin-top: var(--hf-margin); */
}

footer img.logo-long {
  width: 3.6rem;
  /* margin: 0 2px; */
  filter: invert(1);
  position: relative;
  top: 2px;
}

.black-grey-stripe-bg {
  /* background: repeating-linear-gradient(
    -43deg,
    var(--dark-grey),
    var(--dark-grey) 15px,
    var(--black) 15px,
    var(--black) 30px
  ); */
  background: repeating-linear-gradient(
    -43deg,
    var(--dark-grey),
    var(--dark-grey) 1.5vw,
    var(--black) 1.5vw,
    var(--black) 3vw
  );
}

.black-red-stripe-bg {
  background: repeating-linear-gradient(
    -43deg,
    var(--red1),
    var(--red1) 1.5vw,
    var(--black) 1.5vw,
    var(--black) 3vw
  );
}

.text-lg {
  color: var(--white);
  /* font-family: "", sans-serif; */
  font-family: "Gabarito", cursive;
}

.black-bg {
  background-color: var(--black);
}

.red-bg {
  background-color: var(--red1);
}

.blue-bg {
  background-color: var(--blue);
}

.gradient-bg {
  background-image: linear-gradient(270deg, var(--red2), var(--blue));
}

.spotlight {
  display: flex;
  max-height: min-content;
  justify-content: space-between;
  border: var(--border-solid);
  margin-bottom: 20px;
  animation: bg-pan-left 8s both;
}

.sl-link,
.sl-link:visited {
  text-decoration: none;
  color: var(--white);
}

.sl-anim:hover {
  animation: shadow-pop-tr 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.sl-anim {
  animation: shadow-pop-tr-out 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.flex-col {
  flex-flow: column;
}

.flex-col-rev {
  flex-flow: column-reverse;
}

.sl-kristan {
  height: 20vw;
}

.info-container {
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

.spotlight-info-container {
  padding: 0 20px;
  display: flex;
  /* display: grid; */
  align-items: center;
  justify-content: center;
}

.spotlight-img-container {
  max-height: 26vw;
  /* border-left: var(--border-solid); */
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.spotlight-img-container img.sl-clipped {
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
}

.some-text {
  max-width: 40em;
}
.main-container {
  max-width: 40em;
  margin: auto;
}
#intro-quote {
  quotes: none;
  font-family: "Archivo Black", sans-serif;
  font-size: 9.5vw;
  color: var(--black);
  /* color: var(--white); */
  /* -webkit-text-stroke: 5px var(--white); */
}

.spotlight dl {
  font-family: "Archivo Black", sans-serif;
  color: var(--black);
  /* font-size: 9.5vw; */
}

.spotlight dt {
  font-size: xx-large;
}

.spotlight dd {
  font-size: x-large;
}

section.essay {
  font-size: large;
}

/*
+-------------------------------+
| Media queries                 |
+-------------------------------+
*/

@media only screen and (max-width: 720px) {
  .header-logo {
    background-image: url("../img/logo-short.png");
    background-size: 71.83px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: filter 300ms;
  }
  /* Short logo appears, Long disappears */
  .header-logo img.logo-short {
    display: initial;
    opacity: 0;
  }

  .header-logo img.logo-long {
    display: none;
  }

  /* ================================== */
}

@media only screen and (max-width: 605px) {
  /* Links disappear, menu icon appears */
  .nav-link-container {
    display: none;
  }

  .nav-menu-icon {
    display: initial;
  }
  /* ================================== */

  .header-logo {
    background-image: url("../img/logo-long.png");
    background-size: 190.08px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: filter 300ms;
  }

  /* Short logo disappears, Long appears */
  .header-logo img.logo-short {
    display: none;
  }

  .header-logo img.logo-long {
    display: initial;
    opacity: 0;
  }
  /* ================================== */
}

@media only screen and (max-width: 1082px) {
  .spotlight {
    flex-direction: column;
    /* background-image: linear-gradient(180deg, var(--red2), var(--blue)); */
  }

  .spotlight-img-container {
    max-height: 45vw;
    /* border-left: unset; */
    /* border-bottom: var(--border-solid); */
  }

  .code-overlay code {
    font-size: 36vw !important;
    width: unset !important;
  }
}

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@keyframes shadow-pop-tr {
  from {
    box-shadow: 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px var(--shadow), 2px -2px var(--shadow),
      3px -3px var(--shadow), 4px -4px var(--shadow), 5px -5px var(--shadow),
      6px -6px var(--shadow), 7px -7px var(--shadow), 8px -8px var(--shadow);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr-out {
  from {
    box-shadow: 1px -1px var(--shadow), 2px -2px var(--shadow),
      3px -3px var(--shadow), 4px -4px var(--shadow), 5px -5px var(--shadow),
      6px -6px var(--shadow), 7px -7px var(--shadow), 8px -8px var(--shadow);
    transform: translateX(-8px) translateY(8px);
  }
  to {
    box-shadow: 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow), 0 0 var(--shadow),
      0 0 var(--shadow);
    transform: translateX(0) translateY(0);
  }
}

/**
 * ----------------------------------------
 * animation bg-pan-left
 * ----------------------------------------
 */

.more-projects-anim {
  animation: 60s linear 0s infinite alternate both running bg-pan-left;
  background-size: 600% 100%;
}

@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Quote */

cite.author {
  color: #aaacae;
  /* font-family: "iawriter-mono", sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Gabarito", cursive;
}

.quote_text {
  color: #e4e5e6;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Gabarito", cursive;
}

.quote_container {
  margin: 0 auto;
  /* margin-top: 50px; */
  border: var(--border-solid);
  padding: 50px 50px 30px 50px;
}

.quote_container blockquote.theysaidso_quote * {
  box-sizing: border-box;
}

.quote_container blockquote.theysaidso_quote span.quote:before {
  content: "\201C";
  /* color: #81bedb; */
  color: #ccd6de;
  font-size: 7.5em;
  font-weight: 700;
  opacity: 0.3;
  position: absolute;
  top: -0.4em;
  left: -0.2em;
  text-shadow: none;
  z-index: -300;
}

.theysaidso-container {
  display: flex;
}

.quote_container:hover {
  animation: shadow-pop-tr 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.quote_container {
  animation: shadow-pop-tr-out 300ms cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.code-overlay code {
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* font-size: 20vw; */
  /* width: 46vw; */
  width: 35vw;
  font-size: 20vw;
  /* color: var(--black); */
  color: var(--black);
  /* -webkit-text-stroke: var(--white); */
  text-align: center;
  /* width: 100%; */
  /* height: 100vh; */
  height: 100%;
  display: block;
}

@media only screen and (max-width: 335px) {
  .header-logo {
    background-image: url("../img/logo-short.png");
    background-size: 71.83px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: filter 300ms;
  }
  /* Short logo appears, Long disappears */
  .header-logo img.logo-short {
    display: initial;
    opacity: 0;
  }

  .header-logo img.logo-long {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  main {
    padding: 20px 0;
  }

  .spotlight,
  .quote_container {
    border: none;
    animation: none;
  }
}
